<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>AAAAPPPP</title>
</head>
<body>


<form action="/login" method="post">
<input type="text" name="name">
<input type="text" name="password">
<input type="submit" value="Send">

</form>

   {{!-- ++  1:15  ++ if не вмеет делать < >, только тру фолс --}}

{{!-- {{#if isAdult}}
   <div>ADULT</div>
   <div>ADULT</div>
   <div>ADULT</div>

{{else}}

   <div>NOT ADULT</div>
   <div>NOT ADULT</div>
   <div>NOT ADULT</div>
{{/if}} --}}

</body>
</html>