extends template
block content
  div 
    | Dear #{userName} !
    br
    | Congratulations, 
    br
    | Your account were successful created !
    br
    img(src='https://image.shutterstock.com/z/stock-photo-man-places-last-piece-of-puzzle-surreal-concept-1094459069.jpg')
    