doctype html 
html
  head
    style 
      include style.css 
  body
    div.footer
      block content 
    div 
      | Regards 
      br
      | Alex 
      br
      a(href="http://google.com") Click here
