extends template
block content
  div 
    | Dear #{userName} !
    br
    | Your account data were successful changed !
    br
    img(src='https://image.shutterstock.com/z/stock-photo-businesswoman-hand-holding-wooden-cube-with-flip-over-block-change-to-chance-word-on-table-1606619794.jpg')
    