extends template
block content
  div 
    | Dear #{userName}!
    br
    | Your account data were successful deleted! 
    br
    |We will miss you...
    br
    img(src='https://image.shutterstock.com/z/stock-photo-many-caucasian-people-and-hands-holding-red-letters-or-characters-building-the-isolated-english-265019408.jpg')
    