extends template
block content
  div 
    | Dear #{userName} !
    br
    | Thank you for droppping in again !
    br
    img(src='https://image.shutterstock.com/z/stock-vector-welcome-sign-with-colour-confetti-vector-paper-illustration-313934588.jpg')
