doctype html 
html
  head
    style 
      include styles.css 
  body
    div.footer
      block content 
    div 
      | Regards, 
      br
      | Your team.
      br
      a(href="http://waterfit.com.ua") Click here
